* {
    box-sizing: border-box;
}

.jumbotron {
    color: white;
    background-image: url("../images/funny2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}

footer {
    background-color: #f2f2f2;
}

#githubIcon {
    margin: 40px;
}

.empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.checklist-icon {
    margin-bottom: 20px;
}

.empty-state__title,
.empty-state__description {
    margin-bottom: 20px;
}

body {
    font-family:
        'Segoe UI', Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}

.container {
    width: 100%;
    margin: 0 auto;
    color: #333;
    overflow-y: auto;
}

.app-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 80px;
    opacity: 0.5;
}

svg {
    width: 64px;
    height: 64px;
}

.todo-list {
    list-style: none;
    margin-bottom: 20px;
}

.todo-item {
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.completed span {
    text-decoration: line-through;
}

input[type="checkbox"] {
    display: none;
}

.tick {
    min-width: 30px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
}

.tick::before {
    content: '\2713';
    font-size: 30px;
    display: none;
}

.completed .tick::before {
    display: inline;
}

.edit-todo {
    border: none;
    /* placeholder for now. Change to an icon or something more pleasing */
    background-color: green;
    outline: none;
    cursor: pointer;
}

.edit-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.delete-todo {
    border: none;
    /* placeholder for now. Change to an icon or something more pleasing */
    background-color: red;
    outline: none;
    cursor: pointer;
}

.delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
}

.todo-list:empty {
    display: none;
}

.todo-list:empty + .empty-state {
    display: flex;
}

#description {
    display: flex;
    flex-wrap: wrap;
}

/* #dropDownContainer {
    
} */